@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


body {
  background-color: #D1C4E9;
  font-family: 'Afacad Flux';
}

.product-cards {
  display: flex;
  flex-flow: row wrap;
}

.card-img-top {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.card {
  /* width: calc(33% - 10px); */
  width: calc(33% - 10px);
  box-sizing: border-box;
  border: 1px solid lightblue;
  min-width: 340px;
  margin: 5px;
  background-color: #512DA8;
  color: white;
}

.card-text {
  padding: 5px;
}

.card-title {
  text-align: center;
  border-bottom: 1px solid #D1C4E9;
  padding-bottom: 20px;
}

.availability {
  border: 1px solid blue;
  background-color: grey;
  color: yellow;

}

.prices{
  margin: 0;
}

.specs, .pricing {
  margin-left: 10px;
}

h4 {
  margin: 0;
  font-weight: 100;
}

.size, .weight, .prices {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.valid-date {
  font-size: 10px;
  margin-left: -10px;
}

.soldOut {
  position: absolute;
  top: 60px;
  left: 65px;
  display: block;
  max-width: 400px;
}
